# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
*.class
app/chromedriver.log
app/bin
app/screenshots
assessment

HELP.md
.gradle
/bin/
*/bin/
!gradle/wrapper/gradle-wrapper.jar
*.log
*.gz
*.class
/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
*/out/
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ### - needed for debugging
# .vscode/